* {
    margin: 0;   
    box-sizing: border-box;
    padding: 0;
    }
.img {
    height: 100px
}
.img-wrapper {
    display: flex;
    justify-content: center;
}
.wrapper-projects ,
.wrapper-projects-a {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
a .project-nr-1 
,a.project-nr-2 {
width: 20px;
}
h1 {
    margin:10px ;
}








